<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301w15t07.TravelTracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="cmput301w15t07.TravelTracker.TravelTrackerApp"
        android:supportsRtl="true" >
        
        <activity
            android:name=".activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.ManageTagsActivity"
            android:label="@string/manage_tags_label">
        </activity>
        
        <activity
            android:name=".activity.ClaimsListActivity"
            android:label="@string/claims_list_label">
        </activity>
        
        <activity
            android:name=".activity.ClaimInfoActivity"
            android:label="@string/claim_info_label">
        </activity>
        
        <activity
            android:name=".activity.ExpenseItemsListActivity"
            android:label="@string/expense_items_list_label">
        </activity>
        
        <activity
            android:name=".activity.ExpenseItemInfoActivity"
            android:label="@string/expense_item_info_label">
        </activity>
        
    </application>

</manifest>
